* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono";
}

:root {
  /* Primary */
  --strong-cyan: hsl(172, 67%, 45%);

  /* Neutrals */
  --background-light-cyan: hsl(185, 41%, 84%);
  --white: hsl(0, 0%, 100%);
  --very-light-gray-cyan: hsl(189, 41%, 97%);
  --light-gray-cyan: hsl(185, 41%, 84%);
  --gray-cyan: hsl(184, 14%, 56%);
  --dark-grey-cyan: hsl(186, 14%, 43%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --margin-bottom: 2rem;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-light-cyan);
  font-size: 2.4rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGO */
.container {
  width: 100%;
}

#title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 20px;
  max-width: 800px;
  padding: 20px 30px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
}

/* LEFT SIDE OF GRID */

.label-text {
  font-size: 1.5rem;
}
/* text gets placed to right side of input  */
.input-text {
  text-align: right;
  width: 100%;
  padding: 0.6rem;
  border-radius: 5px;
  border: none;
  background-color: var(--very-light-gray-cyan);
}

/* we can change this later */
.input:focus {
  outline: none;
  box-shadow: inset 0px 0px 0px 1px var(--strong-cyan);
  border-radius: 4px;
  /* border: 1px solid blue; */
}

/* validation for number of people; if 0 then turns input red */
.input-text:invalid {
  box-shadow: inset 0px 0px 0px 1px red;
  border-radius: 4px;
}

/* for the $ and person symbols, gets placed on left side */
.svg {
  position: absolute;
  margin-left: 0.5rem;
}

/* aligns symbol properly inside input box */
.input-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-bottom);
}

.tip-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: var(--margin-bottom);
}

.btn {
  width: 8rem;
  background-color: var(--very-dark-cyan);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 3px;
  font-size: 2rem;
}

.btn-active {
  background-color: var(--strong-cyan);
}

/* adjusting spacing of buttons to fit container */

.btn:nth-child(2),
.btn:nth-child(5) {
  justify-self: center;
}

.btn:nth-child(3),
.btn:last-child {
  justify-self: end;
}
.btn:last-child {
  font-size: 1.4rem;
  text-align: center;
  color: var(--very-dark-cyan);
  background-color: var(--very-light-gray-cyan);
}

/* RIGHT SIDE */

.right {
  background-color: var(--very-dark-cyan);
  padding: 20px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tip-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-amount-text {
  font-size: 1.5rem;
}
.person {
  font-size: 0.8rem;
}
.amount {
  font-size: 4rem;
}

.reset-btn {
  margin: 0 auto;
  width: 100px;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  width: 100%;
  padding: 3px;
}

@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
    margin: 0px 20px;
  }
}
